body {
  background-color: blue;
  text-align: center;
}

img {
  width: 94px;
  height: 94px;
  padding: 1px;
}

.board {
  width: 600px;
  height: 600px;
  border: 1px solid #fff;
  float: right;
  /*margin: 0 auto;*/
}

.square {
  width: 96px;
  height: 96px;
  border: 1px solid #fff;
  float: left;
  margin: 1px;

}

.front .back {

}
