body {
  background-image:url("../images/background2.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
header {
  display:block;
  position:relative;
  z-index:2;
  margin-top:-20px;
  margin-bottom:20px;
  height:60px;
}

h1 {
  font-family: 'Arbutus', cursive;
  font-size: 2em;
  /*letter-spacing: 2em;*/
  color: white;
}

img {
  width: 94px;
  height: 94px;
  padding: 1px;
}

.board {
  margin: 0 auto;
  width: 600px;
  height: 600px;
  position: relative;
  /*border: 1px solid black;*/
  border-radius: 8px;
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -o-perspective: 800px;
  perspective: 800px;
}

.card .removed {
  opacity: 0;
}

.card {
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  float: left;
  -webkit-transition: -webkit-transform 1s;
  -moz-transition: -moz-transform 1s;
  -o-transition: -o-transform 1s;
  transition: transform 1s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: 50% 50%;
}

.card div {
  display: block;
  height: 100%;
  width: 100%;
  line-height: 100px;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  position: absolute;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card .front {
  background-size: contain;
  background-image: url("../images/evil.jpeg");
}

.card .back {
  background-size: 100%;
  -webkit-transform: rotateY( 180deg );
  -moz-transform: rotateY( 180deg );
  -o-transform: rotateY( 180deg );
  transform: rotateY( 180deg );
}
.card.flipped {
  -webkit-transform: rotateY( 180deg );
  -moz-transform: rotateY( 180deg );
  -o-transform: rotateY( 180deg );
  transform: rotateY( 180deg );
}
